---
import { Button } from "@/components/ui/button";
import AppleIcon from "@/icons/brands/apple.svg?raw";
import GoogleIcon from "@/icons/brands/google.svg?raw";
import MicrosoftIcon from "@/icons/brands/microsoft.svg?raw";

interface Props {
    event: any; // TODO: Improve typing using Event via astro:db
    linktext: string;
}

const { event, linktext } = Astro.props;
---

<div
    id="add-to-calendar"
    class="flex gap-2"
    data-linktext={linktext}
    data-desc={event.description}
    data-start-date={event.startDate}
    data-start-time={event.startTime}
    data-end-date={event.endDate}
    data-end-time={event.endTime}
    data-time-zone={event.timezone}
>
    <Button id="Apple" variant="outline" className="w-full">
        <div class="flex h-5 w-5">
            <Fragment set:html={AppleIcon} />
        </div>
    </Button>
    <Button id="Google" variant="outline" className="w-full">
        <div class="flex h-4 w-4">
            <Fragment set:html={GoogleIcon} />
        </div>
    </Button>
    <Button id="Microsoft365" variant="outline" className="w-full">
        <div class="flex h-4 w-4">
            <Fragment set:html={MicrosoftIcon} />
        </div>
    </Button>
</div>

<script>
    const container = document.querySelector("#add-to-calendar") as HTMLElement;

    const { linktext, desc, startDate, startTime, endDate, endTime, timeZone } = container.dataset;
    const description = desc + (desc ? "[br][br]" : "") + linktext + ": " + location.href;

    for (const button of container.querySelectorAll("button") ?? []) {
        button.addEventListener("click", () => {
            import("add-to-calendar-button").then(({ atcb_action }) => {
                atcb_action({
                    name: document.title,
                    description, startDate, endDate, startTime, endTime, timeZone,
                    options: [button.id as "Apple" | "Google" | "Microsoft365"]
                });
            });
        });
    }
</script>
