---
import "@/styles/globals.css";
import { db, eq, Event, Participant } from "astro:db";
import { CircleCheck, Share } from "lucide-react";
import { Input } from "@/components/ui/input";
import { Button } from "@/components/ui/button";
import { Toaster } from "@/components/ui/toaster";
import { Alert, AlertDescription, AlertTitle } from "@/components/ui/alert";
import { getPreferredLocale, getTranslations, getClientTranslations } from "@/utils/i18n.ts";

import Layout from "@/components/custom/layout.astro";
import Banner from "@/components/custom/banner.astro";
import Header from "@/components/custom/header.astro";
import Label from "@/components/custom/label.astro";
import DateTime from "@/components/utils/date-time.astro";
import ResponseButtons from "@/components/custom/response-buttons.astro";
import CalendarButtons from "@/components/custom/calendar-buttons.astro";
import ParticipantsList from "@/components/custom/participants-list.astro";

const { slug } = Astro.params;
if (!slug) return;

let participant;
if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const response = formData.get("response");

    if (typeof response === "string") {
        participant = await db.update(Participant).set({ response }).where(eq(Participant.id, slug)).returning().get();
    }
} else {
    participant = await db.select().from(Participant).where(eq(Participant.id, slug)).get();
}
if (!participant) return;

const event = await db.select().from(Event).where(eq(Event.id, participant.eventId)).get();
if (!event) return;

const locale = getPreferredLocale(Astro.request.headers);
const i18n = getTranslations(locale);
---

<Layout title={event.name} description={event.description ?? event.name} locale={locale}>
    <Banner>
        {event.icon}
    </Banner>
    <main
        class="flex flex-col gap-12 my-16 mx-auto px-6 max-w-xl"
        data-translations={JSON.stringify(getClientTranslations(locale))}
    >
        <section class="flex flex-col gap-8">
            <div class="space-y-2">
                <DateTime
                    class="text-gray-400"
                    date={event.startDate}
                    time={event.startTime}
                    timezone={event.timezone}
                ></DateTime>
                <Header
                    title={event.name}
                    description={event.description}
                ></Header>
            </div>
            <Alert>
                <CircleCheck className="h-4 w-4" />
                <AlertTitle>{i18n("success")}</AlertTitle>
                <AlertDescription>
                    {i18n(participant.isAdmin
                        ? "invite-creation-success"
                        : "answer-send-success"
                    )}
                </AlertDescription>
            </Alert>
            {participant.isAdmin &&
                <Label text={i18n("invitation-link")}>
                    <div id="share" class="flex gap-2">
                        <Input value={`${Astro.url.origin}/${event.id}`} readOnly />
                        <Button variant="outline" size="icon">
                            <Share size={16} className="w-12"></Share>
                        </Button>
                    </div>
                </Label>
            }
            <Label text={i18n("add-to-calendar")} help={i18n("add-to-calendar-help")}>
                <!-- Currently, only a participation response can be edited -->
                <CalendarButtons
                    event={event}
                    linktext={i18n(participant.isAdmin ? "view-invite" : "view-edit-invite")}
                />
            </div>
        </section>
        {event.allowResponse && (event.participantsVisible || participant.isAdmin) &&
            <hr />
            <ParticipantsList eventId={event.id} participantId={participant.id} />
        }
        {!participant.isAdmin &&
            <hr />
            <form class="flex flex-col gap-4" method="POST">
                <h2 class="text-2xl font-medium">
                    {i18n("edit-response")}
                </h2>
                <p class="text-base text-gray-500">
                    {i18n("edit-response-subtitle")}
                </p>
                <ResponseButtons highlight={participant.response} />
            </form>
        }
    </main>
    <Toaster client:idle></Toaster>
</Layout>

<script>
    import { toast } from "@/components/ui/use-toast";

    document.querySelector("#share input")?.addEventListener("click", event => {
        addToClipboard((event.target as HTMLInputElement).value);
    });

    document.querySelector("#share button")?.addEventListener("click", () => {
        const url = document.querySelector<HTMLInputElement>("#share input")?.value;
        if (navigator.share) {
            navigator.share({ url });
        } else if (url) {
            addToClipboard(url);
        }
    });

    const translations = JSON.parse(document.querySelector("main")?.dataset.translations ?? "");
    const addToClipboard = (value: string) => {
        navigator.clipboard.writeText(value);
        toast({ title: translations["client-link-clipboard-success"] });
    }
</script>
