---
import "@/styles/globals.css";
import { Input } from "@/components/ui/input";
import { Table, TableBody, TableCell, TableHead, TableHeader, TableRow, } from "@/components/ui/table";

import { db, eq, Event, Participant } from "astro:db";

const { slug } = Astro.params;
if (!slug) return;

const participant = await db.select().from(Participant).where(eq(Participant.id, slug)).get();
if (!participant) return;

const event = await db.select().from(Event).where(eq(Event.id, participant.eventId)).get();
if (!event) return;

const participants = await db.select().from(Participant).where(eq(Participant.eventId, event.id));

// TODO: Add reusable Layout component
// TODO: Evaluate whether to use Container for main component (also for creation form)
// TODO: Probably also add a reusable Label component
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{event.name}</title>
    </head>
    <body>
        <header class="relative block w-full h-40 bg-slate-50">
            <div class="mx-auto px-4 max-w-lg">
                <span class="absolute bottom-0 text-6xl translate-y-[50%]">🎉</span>
            </div>
        </header>
        <main class="flex flex-col gap-12 mt-16 mx-auto px-4 max-w-lg">
            <section class="flex flex-col gap-8">
                <header class="flex flex-col gap-4">
                    <h1 class="text-4xl font-medium text-gray-700">
                        {event.name}
                    </h1>
                    <p class="text-lg text-gray-500">
                        Dein Termin wurde erfolgreich erstellt! Du kannst nun den Link oder QR-Code unten verschicken.
                    </p>
                </header>
                <label class="flex flex-col gap-2">
                    <p>Link</p>
                    <Input value={`${Astro.url.origin}/${event.id}`} readOnly />
                </label>
            </section>
            <hr>
            <section>
                <header class="flex flex-col gap-4">
                    <h2 class="text-2xl font-medium text-gray-700">
                        Teilnehmer
                    </h2>
                    <p class="text-base text-gray-500">
                        Hier siehst du eine Liste aller Personen, die deine Einladung angenommen oder abgelehnt haben.
                    </p>
                    <Table>
                        <TableHeader>
                            <TableRow>
                                <TableHead>Name</TableHead>
                                <TableHead>Rückmeldung am</TableHead>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            {participants.map((entry) => (
                                <TableRow key={entry.id}>
                                    <TableCell>{entry.id === participant.id ? "Du" : participant.name}</TableCell>
                                    <TableCell>{entry.createdDate.toLocaleString()}</TableCell>
                                </TableRow>
                            ))}
                        </TableBody>
                    </Table>
                </header>
            </section>
        </main>
    </body>
</html>
