---
import "@/styles/globals.css";
import { Input } from "@/components/ui/input";
import { Button } from "@/components/ui/button";

import { db, eq, Event, Participant } from "astro:db";

const { slug } = Astro.params;
if (!slug) return;

const event = await db.select().from(Event).where(eq(Event.id, slug)).get();
if (!event) return;

if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        const { name, willParticipate } = Object.fromEntries(data.entries());
        
        if (typeof name === "string" && typeof willParticipate === "string") {
            const participant = await db.insert(Participant).values({
                id: crypto.randomUUID(),
                eventId: event.id,
                name: name,
                isAdmin: false,
                willParticipate: JSON.parse(willParticipate),
                createdDate: new Date()
            }).returning().get();

            return Astro.redirect(`/participant/${participant.id}`);
        }
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }
}
---

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="description" content={event.description}>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:title" content={event.name}>
        <meta property="og:description" content={event.description}>
        <meta
            property="og:image"
            content={encodeURI(`${Astro.url.origin}/api/og?date=${event.startDate}&name=${event.name}&description=${event.description}&icon=${event.icon}`)}
        />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <title>{event.name}</title>
    </head>
    <body>
        <header class="relative block w-full h-40 bg-slate-50">
            <div class="mx-auto px-6 max-w-xl">
                <span class="absolute bottom-0 text-6xl translate-y-[50%]">
                    {event.icon}
                </span>
            </div>
        </header>
        <form class="flex flex-col gap-8 mt-16 mx-auto px-6 max-w-xl" method="POST">
            <header class="flex flex-col gap-2">
                <div>
                    <div class="flex text-gray-400">
                        <p>{new Date(event.startDate).toLocaleDateString(Astro.preferredLocale)}</p>
                        {event.startTime &&
                            <p>, {event.startTime}</p>
                        }
                    </div>
                    <h1 class="text-4xl font-medium text-gray-700">
                        {event.name}
                    </h1>
                </div>
                {event.description &&
                    <p class="text-lg text-gray-500">
                        {event.description}
                    </p>
                }
            </header>
            <label class="flex flex-col gap-2">
                <p>Dein Name</p>
                <Input name="name" />
            </label>
            <div class="flex gap-2">
                <Button type="submit" name="willParticipate" value="true">
                    Teilnehmen
                </Button>
                <Button type="submit" name="willParticipate" value="false" variant="secondary">
                    Nicht teilnehmen
                </Button>
            </div>
        </form>
    </body>
</html>
